@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="center-block col-md-6">
        <object width="250" height="400" classid="clsid:5884C56D-8AB1-42CC-9F1B-FBFE01E4C22D" id="StudioUEC_COM">
        </object>
    </div>
</div>
<div class="row">
    <div class="center-block col-md-6">
        <input name="SaveSg" type="button" value="Сохранить" onclick="FileProcessor.callSavePhotoAndSignature()">
    </div>
</div>
